<!DOCTYPE html>
<html>

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
      #names {
        margin: 100px;
        margin-bottom: 10px !important
      }

      body {
        font-family: Arial;
      }

      * {
        box-sizing: border-box;
      }

      form.example input[type=text] {
        padding: 10px;
        font-size: 17px;
        border: 1px solid grey;
        float: left;
        width: 60%;
        background: #f1f1f1;
      }

      form.example button {
        float: left;
        width: 20%;
        padding: 10px;
        background: #2196F3;
        color: white;
        font-size: 17px;
        border: 1px solid grey;
        border-left: none;
        cursor: pointer;
      }

      form.example button:hover {
        background: #0b7dda;
      }

      form.example::after {
        content: "";
        clear: both;
        display: table;
      }

      #title {

        margin-top: 50px
      }

      table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        border: 1px solid #ddd;
        margin: 0px auto;
        margin-top: 100px;
        padding-top: 50px
      }

      th,
      td {
        text-align: left;
        padding: 16px;
      }

      tr:nth-child(even) {
        background-color: #f2f2f2
      }


      * {
        box-sizing: border-box;
      }

      /* Add a gray background color with some padding */

      body {
        font-family: Arial;
        padding: 20px;
        background: #f1f1f1;
      }

      /* Header/Blog Title */

      .header {
        padding: 30px;
        font-size: 40px;
        text-align: center;
        background: white;
      }

      /* Create two unequal columns that floats next to each other */

      /* Left column */

      .leftcolumn {
        float: left;
        width: 75%;
      }

      /* Right column */

      .rightcolumn {
        float: left;
        width: 25%;
        padding-left: 20px;
      }

      /* Fake image */

      .fakeimg {
        background-color: #aaa;
        width: 100%;
        padding: 20px;
      }

      /* Add a card effect for articles */

      .card {
        background-color: white;
        padding: 20px;
        margin-top: 20px;
      }

      /* Clear floats after the columns */

      .row:after {
        content: "";
        display: table;
        clear: both;
      }

      /* Footer */

      .footer {
        padding: 20px;
        text-align: center;
        background: #ddd;
        margin-top: 20px;
      }

      /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */

      @media screen and (max-width: 800px) {
        .leftcolumn,
        .rightcolumn {
          width: 100%;
          padding: 0;
        }
      }
    </style>
  </head>

  <body>

    <div class="header">
      <h2>GOOD MUSICS </h2>
    </div>

    <div class="row">
      <div class="leftcolumn">
        <div class="card">
          <form class="example" action="/search" method="get">
            <input name="keyword" type="text" placeholder="Search..">
            <button type="submit"><i class="fa fa-search"></i></button>
          </form>
          <div id="names">
            <h3>  Welcome,
            <font color="red"><b><%=cek.name%></b></font></h3>
          </div>
          <br/>
          <br/>
          <br/>
          <br/>
          <hr/>

          <h2 id="title" align="center">List of Available Musics to Play</h2>
          <table>
            <tr>
              <th>No</th>
              <th>Title</th>
              <th>Category</th>
              <th>Artist</th>
              <th>Action</th>
            </tr>

            <% dataMusic.forEach(function(music, idx){ %>

              <tr>
                <td>
                  <%=idx+1%>
                </td>
                <td>
                  <%=music.title%>
                </td>
                <td>
                  <%=music.category%>
                </td>
                <td>
                  <%=music.artist%>
                </td>
                <td>
                  Play</td>

              </tr>

              <% }) %>
          </table>
        </div>
        <div class="card">
          <h2>Your Playlist</h2>
          <div class="fakeimg">Your playlist here</div>

          <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
        </div>
      </div>
      <div class="rightcolumn">
        <div class="card">
          <a href="/logout">logout</a>
          <hr/>
          <br/>
          <h2>Add Playlist</h2>

          <a href="">ADD Playlist</a>

        </div>
        <div class="card">
          <h3>Popular Post</h3>
          <div class="fakeimg">Image</div><br>
          <div class="fakeimg">Image</div><br>
          <div class="fakeimg">Image</div>
        </div>

      </div>
    </div>

    <div class="footer">
      <h2>Good Musics</h2>
    </div>

  </body>

</html>